<a href="https://colab.research.google.com/github/thanapatbo/Data-science-bootcamp8/blob/main/Python_essential101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Programming 101**

- variable
- data types
- data structures
- function
- control flow

In [ ]:
# basic expression / calculation

print(1 + 1)
print(2*2)
print(5/3) #1.66
print(5//3) #1
print(3**2)

2
4
1.6666666666666667
1
9

In [ ]:
# compare values
print(1+1 == 2)
print(1+1 != 2)

True
False

In [ ]:
## variables

my_mame = "Turbo"

income = 50000
expense = 36000
saving = income - expense
print(saving)

my_name = "King Bo II" ##Overwrite variable
print(my_name)

14000
King Bo II

In [ ]:
## delete variable
del saving

In [ ]:
## string
## fstring => format string
my_name = "turbo"
age = 27
fav_lang = "python"
f"Hi!! my name is {my_name} and I'm {age} years olds."

"Hi!! my name is turbo and I'm 27 years olds."

In [ ]:
##old / traditional way to create template
"Hi! myname is {}".format(my_name)

'Hi! myname is turbo'

In [ ]:
##string + string that right
##string*3
text = "blackpink" + " in your area!"

In [ ]:
len(text)

23

In [ ]:
## Data types
## 1. int :
## 2. float : continus
## 3. str
## 4. bool : True False
## python /R is case sensitive

In [ ]:
x = 5
type(x)

int

In [ ]:
## newline str \n
## tab \t
print("Hello\nworld")

Hello
world

In [ ]:
##multi str line """
poem = """ Hello world
I'm learning python
and R """
print(poem)

 Hello world
I'm learning python
and R

In [ ]:
## convert data type
## int() float() str() bool()

x = 1
print(x, type(x))

x = str(x)
print(x, type(x))

1 <class 'int'>
1 <class 'str'>

In [ ]:
## get input from user

user_name = input("What's your username: ")
print("Hi! " + user_name)

user_age = input("How old are you? ")
print("Your age " + user_age)
print(int(user_age)*2)

What's your username: thanapatbo
Hi! thanapatbo
How old are you? 27
Your age 27
54

In [ ]:
## type hint
age : int = 20

In [ ]:
## function
## def : define

def add_two_num(val1, val2) :
    return val1 + val2

In [ ]:
result = add_two_num(10,7)
print(result)

17

In [ ]:
## default argument
def greeting(name):
    return f"Hello! {name}"

In [ ]:
greeting("Bo")

'Hello! Bo'

In [ ]:
## function get input from user
def greeting_v2() :
    name = input("What's your name? ")
    return f"Hello {name}!"

In [ ]:
greeting_v2()

What's your name? turbo

'Hello turbo!'

In [ ]:
## function that returm multiple value
def demo() :
    name1 = input("Pick a name: ")
    name2 = input("Pick a name: ")
    return (name1, name2)

In [ ]:
demo()

Pick a name: bo
Pick a name: preaw

('bo', 'preaw')

In [ ]:
 ##tuple unpacking
 friend1, friend2 = demo()
 print(friend1)
 print(friend2)

Pick a name: turbo
Pick a name: preaw
turbo
preaw

In [ ]:
## 4. data structure
## 4.1 list
## 4.2 tuple
## 4.3 dictionary
## 4.4 set

In [ ]:
## 4.1 list[]
shopping_list = ["banana", "egg", "bread", 100]

In [ ]:
## append value list => list.append()
shopping_list.append("noodle")

In [ ]:
shopping_list

['banana', 'egg', 'bread', 100, 'noodle']

In [ ]:
shopping_list.append("orange")
shopping_list

['banana', 'egg', 'bread', 100, 'noodle', 'orange']

In [ ]:
## insert values
shopping_list.insert(0, "grape")
shopping_list

['grape', 'banana', 'egg', 'bread', 100, 'noodle', 'orange']

In [ ]:
##update value if we know the index
shopping_list[0] = "watermelon"
shopping_list

['watermelon', 'banana', 'egg', 'bread', 100, 'noodle', 'orange']

In [ ]:
shopping_list.insert(2, "milk")
shopping_list

['watermelon',
 'banana',
 'milk',
 'milk',
 'egg',
 'bread',
 100,
 'noodle',
 'orange']

In [ ]:
##count item in list
len(shopping_list)

9

In [ ]:
## we know index item
shopping_list.pop(2)

'milk'

In [ ]:
shopping_list

['watermelon', 'banana', 'milk', 'egg', 'bread', 100, 'noodle', 'orange']

In [ ]:
len(shopping_list)

8

In [ ]:
##add two list together
item1 = ["banana", "grape", "orange"]
item2 = ["milk", "bread"]
full_list = item1 + item2
print(full_list, len(full_list))

['banana', 'grape', 'orange', 'milk', 'bread'] 5

In [ ]:
## highlight how to use list
item1 = ["banana", "orange"]
item2 = item1.copy()

item1[0] = "longan"
print(item1, item2)

['longan', 'orange'] ['banana', 'orange']

In [ ]:
## 4.2 Tuple() very similar to list
## tuple is immutable
## while, list is mutable
friends = ("turbo", "john", "mary")
friends

('turbo', 'john', 'mary')

In [ ]:
## 4.3 dictionary {}
## key-value pair
def hi() :
    return "Hi!"
turbo = {
    "fname" : "Thanapat",
    "lname" : "Ta-ngoen",
    "age" : 27,
    "education" : "bachelor",
    "movie_lover" : True,
    "fav_movies" : ["Spiderman",
                    "Fast",
                    "Captain America"],
    "function" : hi
}

In [ ]:
turbo

{'fname': 'Thanapat',
 'lname': 'Ta-ngoen',
 'age': 27,
 'education': 'bachelor',
 'movie_lover': True,
 'fav_movies': ['Spiderman', 'Fast', 'Captain America'],
 'function': <function __main__.hi()>}

In [ ]:
## subset dictionary
turbo["fav_movies"][1]

'Fast'

In [ ]:
turbo_func = turbo["function"]

In [ ]:
turbo_func()

'Hi!'

In [ ]:
## del key
del turbo["lname"]

In [ ]:
turbo

{'fname': 'Thanapat',
 'age': 27,
 'education': 'bachelor',
 'movie_lover': True,
 'fav_movies': ['Spiderman', 'Fast', 'Captain America'],
 'function': <function __main__.hi()>}

In [ ]:
##update value in Dictionary
turbo["lname"] = "Ta-ngoen"

In [ ]:
turbo

{'fname': 'Thanapat',
 'age': 27,
 'education': 'bachelor',
 'movie_lover': True,
 'fav_movies': ['Spiderman', 'Fast', 'Captain America'],
 'function': <function __main__.hi()>,
 'lname': 'Ta-ngoen'}

In [ ]:
## .get method in Dictionary
## seach in dictionary
turbo.get("fav_movies")

['Spiderman', 'Fast', 'Captain America']

In [ ]:
## 4.4 set{} => unique set
fruits = {"apple", "orange", "orange", "banana", "banana"}
type(fruits)

set

In [ ]:
uniq_fruits = set(fruits)
len(fruits)

3