<a href="https://colab.research.google.com/github/thanapatbo/Data-science-bootcamp8/blob/main/Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Essential Python 101**
today we leaning Python 101 for beginners

*   variable
*data types
*data structures
*fuction
*control flow
*OOP

In [ ]:
print ("Hello world!")

Hello world!

In [ ]:
print ("I'm leaning Python! 101")

I'm leaning Python! 101

In [ ]:
#Basic calculation
print(1+1)
print(2*2)
print(5*3)
print(7/2)
print(7//2)

2
4
15
3.5
3

In [ ]:
pow(15, 3)

3375

In [ ]:
abs (-666)

666

In [ ]:
abs (-500)

500

In [ ]:
#modulo
5%3

2

In [ ]:
#assign a variable
my_name = "turbo"
age = 26
gpa = 2.99
coffee_lover = True #False

In [ ]:
#case sensitive N != n
print (my_name ,age, gpa, coffee_lover)

turbo 26 2.99 True

In [ ]:
#over write a value (varaible)
age = 27
new_age = age+12
print(age, new_age)

27 39

In [ ]:
#ex'
pixel_price = 30000
discount = 0.15
new_pixel_price = pixel_price * (1-discount)
print(pixel_price, new_pixel_price)

30000 25500.0

In [ ]:
#remove variable
del new_pixel_price

In [ ]:
del pow

In [ ]:
#count variable
age = 26
age +=1 #short syntax
print(age)

27

In [ ]:
#data types
# int float string bool

In [ ]:
age = 26
gpa = 2.99
school = "Samutprakan School"
coffee_lover = True

In [ ]:
#cheak datatypes
print( type(age) )
print( type(gpa) )
print( type(school) )
print (type(coffee_lover) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
#convers types
x = 100
x = str(x)
print(x, type(x))

100 <class 'str'>

In [ ]:
y = True #True=1,False=0
y = int(y)
print (y, type(y))

1 <class 'int'>

In [ ]:
z = 1
z = bool(z)
print(z, type(z))

True <class 'bool'>

In [ ]:
age = 26
print (age+age, age*2, age/2)

52 52 13.0

In [ ]:
text = "Hello world"
print(text*2)

Hello worldHello world

In [ ]:
#type hint (new feture)
age : int = 26
gpa : float = 2.99
my_name : str = "turbo"
junkfood : bool = False

In [ ]:
print(age, type(age))

26 <class 'int'>

In [ ]:
#create function
#function greeting => greeting("Turbo")#Aggrement function
def greeting(name="Turbo", location="london"):
    print("Hello " + name)
    print("She live in "+ location + ".")

In [ ]:
greeting("preaw")

Hello preaw
She live in london.

In [ ]:
#ex2 call "return is ended"
def add_two_num(num1,num2):
    print("turbo")
    return(num1 + num2)
    print("wow!!")

In [ ]:
result = add_two_num(10, 10)
print(result)

turbo
20

In [ ]:
##work with string
text = "Hello"
long_text = """This
    is
    a
    long
    text"""
print(text)
print(long_text)

Hello
This
    is
    a
    long
    text

In [ ]:
#str template => fstrings
my_name = "Turbo"
location = "thailand"

text  = f"Hi! my name is {my_name} and I live in {location}."
print(text)

Hi! my name is Turbo and I live in thailand.

In [ ]:
text = "a duck walks into a bar"
print(text)

a duck walks into a bar

In [ ]:
len(text)

23

In [ ]:
#slicing =>index starts with 0
print(text[0], text[-1], text[22])

a r r

In [ ]:
#up to but not include
print(text[13:17])
print(text[7:])
print(text[-3:])

into
walks into a bar
bar

In [ ]:
#string Method
#string is immutable
name = "Python" #Cython
name = "C" + name[1:]
print(name)

Cython

In [ ]:
text = "a duck walks into a bar"

In [ ]:
#function vs method
text.upper()

'A DUCK WALKS INTO A BAR'

In [ ]:
text.lower()

'a duck walks into a bar'

In [ ]:
text.replace("duck", "lion")

'a lion walks into a bar'

In [ ]:
words = text.split(" ")
print(words, type(words))

['a', 'duck', 'walks', 'into', 'a', 'bar'] <class 'list'>

In [ ]:
" ".join(words)

'a duck walks into a bar'

In [ ]:
#data structures
#1. list []
#2. tuple ()
#3. dictionary {}
#4. set{unique}

In [ ]:
#List []
shopping_items = ["banana", "egg", "milk"]
print(shopping_items[0])
print(shopping_items[1])
print(shopping_items[1:])

banana
egg
['egg', 'milk']

In [ ]:
shopping_items[0] = "oat milk"
shopping_items[1] = "whey"
print(shopping_items[0:])

['oat milk', 'whey', 'milk']

In [ ]:
#list medthod
shopping_items.append("banana")
print(shopping_items)

['oat milk', 'whey', 'milk', 'banana', 'banana']

In [ ]:
#sort items
shopping_items.sort(reverse = True) #DESC
print(shopping_items)

['whey', 'oat milk', 'milk', 'banana', 'banana']

In [ ]:
def mean(scores):
    return sum(scores)/ len(scores)

In [ ]:
scores = [75, 86, 88, 90, 95]
print(len(scores), sum(scores), min(scores), max(scores), mean(scores))

5 434 75 95 86.8

In [ ]:
sum(scores) / len(scores)

86.8

In [ ]:
shopping_items

['whey', 'oat milk', 'milk', 'banana', 'banana']

In [ ]:
#remove items in list
shopping_items.pop()
shopping_items

['whey', 'oat milk', 'milk']

In [ ]:
shopping_items.append("banana")
shopping_items

['whey', 'oat milk', 'banana']

In [ ]:
shopping_items.remove("banana")
shopping_items

['whey', 'oat milk']

In [ ]:
#insert items
shopping_items.insert(1, "milk")

In [ ]:
shopping_items

['whey', 'milk', 'oat milk']

In [ ]:
#list + list
item_1 = ["ham", "egg"]
item_2 = ["banana", "melon"]
print(item_1 + item_2)

['ham', 'egg', 'banana', 'melon']

In [ ]:
#tuple is immotable not change a variable
tup_item = ("egg", "bread", "pepsi")
tup_item

('egg', 'bread', 'pepsi')

In [ ]:
tup_item.count("egg")

1

In [ ]:
#ex2 username/password
#student1 student2
s1 = ("id001" , "123")
s2 = ("id002", "345")
user_pw = (s1, s2)
print(user_pw)

(('id001', '123'), ('id002', '345'))

In [ ]:
#tuple unpacking
username , password = s1

print(username, password)

id001 123

In [ ]:
#unpacking 3values
name, age, gpa = ("turbo", 26, 2.99)
print(name, age, gpa)

turbo 26 2.99

In [ ]:
#ex2 unpacking 3values
name, age, _ = ("king", 13, 3.75)
print(name, age)

king 13

In [ ]:
##set {unique} case sensitive R != r
courses = {"R", "SQL", "Python", "SQL", "sql"}
set(courses)

{'Python', 'R', 'SQL', 'sql'}

In [ ]:
##dictionary value pairs :
courses = {
    "name": "Data Science",
    "duration": "4 months",
    "students": 200,
    "replay": True,
    "skill": ["SQL", "dashboard", "Python", "ML", "google sheets"]
}

In [ ]:
courses["skill"]

['SQL', 'dashboard', 'Python', 'ML', 'google sheets']

In [ ]:
#add dictionry valeu
courses["start_time"] = "9am"

courses["language"] = "thai"

In [ ]:
courses

{'name': 'Data Science',
 'duration': '4 months',
 'students': 200,
 'replay': True,
 'skill': ['SQL', 'dashboard', 'Python', 'ML', 'google sheets'],
 'start_time': '9am',
 'language': 'thai'}

In [ ]:
del courses ["language"]

KeyError: ignored

In [ ]:
courses

{'name': 'Data Science',
 'duration': '4 months',
 'students': 200,
 'replay': True,
 'skill': ['SQL', 'dashboard', 'Python', 'ML', 'google sheets'],
 'start_time': '9am'}

In [ ]:
list(courses.keys())

['name', 'duration', 'students', 'replay', 'skill', 'start_time']

In [ ]:
list(courses.values())

['Data Science',
 '4 months',
 200,
 True,
 ['SQL', 'dashboard', 'Python', 'ML', 'google sheets'],
 '9am']

In [ ]:
courses.items()

dict_items([('name', 'Data Science'), ('duration', '4 months'), ('students', 200), ('replay', True), ('skill', ['SQL', 'dashboard', 'Python', 'ML', 'google sheets']), ('start_time', '9am')])

In [ ]:
#.get protect the error
courses.get("replay")

True

In [ ]:
#recap
#list, dictionary => mutable
#tuple, string => immutable

In [ ]:
##control flow##
#if for while

In [ ]:
#final exam 150 qusetions ,pass >= 120
def grade(score):
    if score >= 120:
        return("Excellent")
    elif score >= 100:
        return("Good")
    elif score >= 80:
        return("Okay")
    else :
        return("Need read to more")

In [ ]:
result = grade(120)
print(result)

Excellent

In [ ]:
#use "and" "or" in consition
def grade(course, score):
    if course == "data science" and score >= 80:
        return("passed")
    elif course == "english" and score >=70:
        return("passed")
    else:
        return("failed")

In [ ]:
grade("english", 69)

'failed'

In [ ]:
##for loop []
#if score >= 80 ,passed
scores = [79, 88, 89, 95]
new_scores = []
for score in scores:
    new_scores.append(score-2)

print(new_scores)

[77, 86, 87, 93]

In [ ]:
#ex"2 for loop[]
def grading(scores):
    new_scores = []
    for score in scores:
        new_scores.append(score-1)
    return(new_scores)

In [ ]:
grading([70, 80, 90, 100])

[69, 79, 89, 99]

In [ ]:
#list comprehension